/*---------------------------------------------SVG-----------------------------------------------*/
 
svg.vectual {
	display: inline-block;
}


.vectual_background {
	fill: rgb(50,50,50);
	/*Actually you should be able to define a gradient by specifying an url to a defs gradient,
	but somehow all major browsers don't support this feature yet*/
}

.vectual_title {
	font-size: 20px;
	font-family: Arial;
	fill: white;
}

/*-------------------------------------------INLINE-----------------------------------------------*/

svg.vectual_inline {
	display: inline-block;
}

.vectual_inline_sparkline {
	fill: none;
	stroke: rgb(200,200,200);
	stroke-width: 0.8
}

.vectual_inline_sparkline_min {
	fill: red;
}

.vectual_inline_sparkline_max {
	fill: green;
}

/*---------------------------------------------PIE-----------------------------------------------*/

.vectual_pie {
}

.vectual_pie_sector_path {
	stroke: white;
}

.vectual_pie_text{
	stroke:;
	stroke-width:;
	font-family: Arial;
	font-style:;
	font-variant:;
	font-weight: 100;	
}

.vectual_pie_text_single{
	stroke: black;
	stroke-width:;
	fill: white;	
}


/*------------------------------------------COORDINATE-------------------------------------------*/

.vectual_coordinate_axis_x {
	stroke: white;
	stroke-width: 2;
}


.vectual_coordinate_labels_x {
	font-size: 10px;
	line-height: 12px,
	font-family: Arial;
	font-style:;
	font-variant:;
	font-weight: 100;
	/*stroke: white;*/
	fill: white;
}

.vectual_coordinate_lines_x {
	stroke: grey;
	stroke-width: 1;
}

.vectual_coordinate_axis_y {
	stroke: white;
	stroke-width: 2;
}

.vectual_coordinate_labels_y {
	font-size: 10px;
	line-height: 12px,
	font-family: Arial;
	font-style:;
	font-variant:;
	font-weight: 100;
	/*stroke: white;*/
	fill: white;
}

.vectual_coordinate_lines_y {
	stroke: grey;
	stroke-width: 1;
}

/*---------------------------------------------BAR-----------------------------------------------*/

.vectual_bar_bar {
	fill: rgb(0,150,250);
}

/*---------------------------------------------LINE----------------------------------------------*/

.vectual_line_line {
	opacity: 0;
	fill: none;
	stroke:rgb(96,255,0);
	stroke-width:3;
	stroke-linejoin: round;
}

.vectual_line_dot {
	fill: rgb(96,255,0);
	opacity:0;
	stroke: rgb(96,255,0);
	stroke-width: 0;
}

/*--------------------------------------------SCATTER--------------------------------------------*/

.vectual_scatter_dot {
	fill:rgb(255,0,0);
	stroke: rgb(255,0,0);
	opacity: 0;
}

/*-------------------------------------------TAGCLOUD--------------------------------------------*/
.vectual_tagcloud_text {
	font-weight: 500;
	font-family: Arial;
	fill: white;
}

/*---------------------------------------------TABLE---------------------------------------------*/
.vectual_table {
	background: none;
	font:200 12px/12px "Arial", sans-serif;	
	margin: 10px 0 0 0;
}

.vectual_table table {
	
}

.vectual_table th {
	background: rgb(150,180,180);
	padding: 2px;
}

.vectual_table td {
	padding: 2px;
}

.vectual_table tr:nth-child(odd) {
  background-color: rgb(120,120,120);
}

.vectual_table tr:nth-child(even) {
  background-color: rgb(180,180,180);
}

/*-------------------------------------------TOOLBAR---------------------------------------------*/

g.tb_icon {
	opacity: 0.6;
}

g.tb_icon:hover {
	opacity: 1;
	cursor: pointer;
}

rect.tb_box{
	fill:#bfbfbf;
	fill-opacity:1;
	stroke:#ffffff;
	stroke-width:0.5;
	stroke-miterlimit:4;
	stroke-opacity:1;
	stroke-dasharray:none
}

/*--------------------------------------------MAP------------------------------------------------*/


/*Circles around small countries. Change opacity to 1 to display all circles.*/
.circlexx{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.5;
}

/*Smaller circles around French DOMs and Chinese SARs. Change opacity to 1 to display all subnational circles.*/
.subxx{
   opacity:0;
   stroke-width:0.3;
}

/*Circles around small, unrecognized countries. Change opacity to 1 to display all circles.*/
.unxx{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.3;
}

/*Circles around small countries, but with no permanent residents. Change opacity to 1 to display all circles.*/
.noxx{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.5;
}

/*land*/
.landxx{
   fill: rgb(230,230,230);
   stroke: rgb(50,50,50);
   stroke-width: 0.5;
   fill-rule: evenodd;
}

/*Styles for coastlines of islands with no borders*/
.coastxx{
   fill: rgb(230,230,230);
   stroke:#ffffff;
   stroke-width:0.3;
   fill-rule:evenodd;
}

/*Styles for nations with limited recognition*/
.limitxx{
   fill: rgb(230,230,230);
   stroke:#ffffff;
   stroke-width:0;
   fill-rule:evenodd;
}

/*Styles for nations with no permanent population.*/
.antxx{
   fill: rgb(230,230,230);
   stroke:#ffffff;
   stroke-width:0;
   fill-rule:evenodd;
}

/*Ocean*/
.oceanxx{
   opacity: 1;
   color: blue;
   fill:#ffffff;
   stroke:#000;
   stroke-width:0.5;
   stroke-miterlimit:1;
}